.main-header {
  background-color: #024731;
  color: white;
  padding: 1rem 0;
}
.fas.fa-search {
  font-size: 20px;
  cursor: pointer;
  color: #f5eeee;
}

@font-face {
  font-family: 'peychi';
  src: url('fonts/peychi.woff2') format('woff2'); /* فونت رو اضافه کن تو پروژه */
}

.site-header {
  background-color: #001A66;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* فاصله بین لوگو و متن */
}

.logo {
  width: 50px; /* سایز کوچک‌تر */
  height: auto;
}

.logo-text {
  font-family: 'peychi', sans-serif;
  font-size: 1.2rem;
  color: white;
}





@media (max-width: 768px) {
  .icon {
    width: 80px;
  }
}


.main-header .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  font-size: 1.5rem;
  overflow: hidden;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

.main-nav a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main-header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-nav ul {
    flex-direction: column;
    margin-top: 1rem;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .hero h2 {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }
}