.hero {
    position: relative;
    text-align: center;
    margin: 1rem 0;
  }
  
  
  .hero img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
  }
  
  .hero h2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgb(10, 10, 10);
    background-color: rgba(2, 71, 49, 0.7);
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
   
  .hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
  }
  
  
  
  .breaking-news {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(17, 19, 19, 0.9);
    color: rgb(14, 9, 9);
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    font-size: 0.95rem;
  }
  
  .breaking-news .label {
    font-weight: bold;
    margin-left: 1rem;
    white-space: nowrap;
  }
  
  .ticker {
    overflow: hidden;
    position: relative;
    flex: 1;
  }
  .ticker ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    animation: scrollTicker 20s linear infinite;
    padding: 0;
    margin: 0;
  }
  .ticker:hover ul {
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .ticker li {
    white-space: nowrap;
    
  }
  
  .ticker a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .ticker a:hover {
    color: #2d1868; 
    text-decoration: underline;
  }
  
  @keyframes scrollTicker {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }